RewriteEngine On
RewriteCond %{REQUEST_URI} !\.ico$
RewriteRule	.* index.php [L,QSA]

<ifModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</ifModule>
