/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License, version 3,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 */

.MENU
{
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;

    border-top: 1px solid $threedhighlight;
    border-left: 1px solid $threedhighlight;
    border-bottom: 1px solid $threedshadow;
    border-right: 1px solid $threedshadow;
    background: $background;

    padding: 2px;
    box-shadow: 0px 2px 4px $shadow;

    overflow: hidden;
}

.MENUITEM,
.MENUITEM_OVER,
.MENUITEM_DISABLED
{
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;

    color: $text;

    white-space: nowrap;
}

.MENUITEM_OVER
{
    background: $highlight;
    color:  $highlighttext;
}

.MENUITEM_DISABLED
{
    color: $graytext;
}

.MENUITEM_DISABLED img
{
    opacity: 0.4;
}

.MENU_SEPARATOR
{
    height:         2px;
    border-top:     1px solid $threedshadow;
    border-bottom:  1px solid $threedhighlight;
    overflow:       hidden;
    margin:         2px 0px 2px 0px;
    font-size:      0mm;
}
